<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322952004832-rk8nvbk8ve3m857n3n1er0r2or30etlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322952004832-rk8nvbk8ve3m857n3n1er0r2or30etlo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322952004832-0040k3q4gqr0qs7f7mq8prda3ajqa9hu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNPyy4F9LtdhB1VJnGgXI9u-ik75L3PO0</string>
	<key>GCM_SENDER_ID</key>
	<string>322952004832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalPro</string>
	<key>PROJECT_ID</key>
	<string>sa3ed-3-erak</string>
	<key>STORAGE_BUCKET</key>
	<string>sa3ed-3-erak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322952004832:ios:51370ca4e84c8587af7c85</string>
</dict>
</plist>